Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2024-12, with the labels that each got.

#452 [Feat/#443] 예매자 관리 페이지 퍼블리싱
  public/svgs/btn_filter.svg
  public/svgs/ic_delete.svg
  public/svgs/ic_refresh.svg
  src/assets/svgs/BtnFilter.tsx
  src/assets/svgs/IcDelete.tsx
  src/assets/svgs/IcRefresh.tsx
  src/assets/svgs/index.tsx
  src/components/commons/bottomSheet/BottomSheet.styled.ts
  src/components/commons/bottomSheet/BottomSheet.tsx
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/FilterBottomSheet/FilterBottomSheet.styled.ts
  src/pages/ticketholderlist/components/FilterBottomSheet/FilterBottomSheet.tsx
  src/pages/ticketholderlist/components/MenuBottomSheet/MenuBottomSheet.styled.ts
  src/pages/ticketholderlist/components/MenuBottomSheet/MenuBottomsheet.tsx
  src/pages/ticketholderlist/components/banner/Banner.styled.ts
  src/pages/ticketholderlist/components/banner/Banner.tsx
  src/pages/ticketholderlist/components/manageCard/ManageAccount.styled.ts
  src/pages/ticketholderlist/components/manageCard/ManageAccount.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCardContainer.styled.ts
  src/pages/ticketholderlist/components/manageCard/ManageCardContainer.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCardMain.styled.ts
  src/pages/ticketholderlist/components/manageCard/ManageCardMain.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCheckBox.styled.ts
  src/pages/ticketholderlist/components/manageCard/ManageCheckBox.tsx
  src/pages/ticketholderlist/components/manageCard/index.ts
  src/pages/ticketholderlist/components/managercard/ManagerCard.styled.ts
  src/pages/ticketholderlist/components/managercard/ManagerCard.tsx
  src/pages/ticketholderlist/components/narrowDropDown/NarrowDropDown.styled.ts
  src/pages/ticketholderlist/components/searchBar/SearchBar.styled.ts
  src/pages/ticketholderlist/components/searchBar/SearchBar.tsx
  src/pages/ticketholderlist/components/selectIcon/SelectIcon.styled.ts
  src/pages/ticketholderlist/components/selectIcon/SelectIcon.tsx
  src/pages/ticketholderlist/components/selectedChips/SelectedChips.styled.ts
  src/pages/ticketholderlist/components/selectedChips/SelectedChips.tsx
  src/pages/ticketholderlist/components/title/Title.styled.ts
  src/pages/ticketholderlist/components/title/Title.tsx
  src/pages/ticketholderlist/constants/silkagel.png
  src/pages/ticketholderlist/types/bookingListType.ts
Labels: :sparkles: FEAT

#449 [Feat/#439] 예매 취소 구현
  public/svgs/ic_radio_selected.svg
  public/svgs/ic_radio_unselected.svg
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/apis/domains/tickets/queries.ts
  src/assets/svgs/IcRadioSelected.tsx
  src/assets/svgs/IcRadioUnselected.tsx
  src/assets/svgs/IconCheck.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/index.tsx
  src/components/commons/bank/InputAccountWrapper.tsx
  src/constants/bookingStatus.ts
  src/hooks/useCancelBooking.tsx
  src/pages/book/Book.tsx
  src/pages/cancel/Cancel.styled.ts
  src/pages/cancel/Cancel.tsx
  src/pages/cancel/components/select/RadioButton.styled.ts
  src/pages/cancel/components/select/RadioButton.tsx
  src/pages/cancel/utils/index.ts
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/nonMbLookup/NonMbLookup.tsx
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/pages/test/TestPage.tsx
  src/routes/LookupRoutes.tsx
Labels: :sparkles: FEAT

#456 [Feat/#455] 공연 등록, 수정 변경사항 반영
  src/pages/gig/components/peopleCard/PeopleCard.tsx
  src/pages/modifyManage/ModifyMaker.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/register/Register.tsx
  src/pages/register/RegisterMaker.tsx
Labels: :sparkles: FEAT

#454 [Feat/#453] 예매자 관리 페이지 기능 구현
  public/svgs/icon_download.svg
  src/apis/domains/tickets/api.ts
  src/apis/domains/tickets/queries.ts
  src/assets/svgs/IconDownload.tsx
  src/assets/svgs/IconSearch.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/index.tsx
  src/components/commons/navigation/Navigation.styled.ts
  src/components/commons/navigation/Navigation.tsx
  src/constants/convertingBookingStatus.ts
  src/constants/convertingScheduleNumber.ts
  src/constants/navigationState.ts
  src/hooks/useDebounce.ts
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/FilterBottomSheet/FilterBottomSheet.tsx
  src/pages/ticketholderlist/components/manageCard/ManageAccount.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCardContainer.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCardMain.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCheckBox.styled.ts
  src/pages/ticketholderlist/components/manageCard/ManageCheckBox.tsx
  src/pages/ticketholderlist/components/narrowDropDown/NarrowDropDown.tsx
  src/pages/ticketholderlist/components/nonExistent/NonExistent..tsx
  src/pages/ticketholderlist/components/nonExistent/NonExistent.styled.ts
  src/pages/ticketholderlist/components/searchBar/SearchBar.styled.ts
  src/pages/ticketholderlist/components/searchBar/SearchBar.tsx
  src/pages/ticketholderlist/components/selectedChips/SelectedChips.tsx
  src/typings/api/schema/index.ts
Labels: :sparkles: FEAT

#458 [Fix/#457] 예매자 관리 페이지 환불/삭제 오류 수정
  .yarn/releases/yarn-4.1.0.cjs
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG

#460 [Fix/#459] 예매 취소 버튼 위치 수정
  src/pages/cancel/Cancel.styled.ts
Labels: :bug: BUG, :sparkles: FEAT

#465 Refactor/#464/refresh token
  src/apis/domains/users/queries.ts
  src/routes/AuthRequierd.tsx
  src/routes/Router.tsx
  src/stores/user.ts
  src/typings/userType.ts
Labels: :recycle: REFACTOR, :sparkles: FEAT

#466 [HOTFIX/#464] auth 페이지로 navigate 되는 로직 수정
  src/hooks/useTokenRefresher.tsx
  src/routes/AuthRequierd.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT, :ambulance: !HOTFIX

#463 [Refactor/#444] 공통 Button Design System 변경사항 및 디자인 QA 사항 반영
  src/components/commons/button/Button.styled.ts
  src/components/commons/navigation/Navigation.styled.ts
  src/pages/gig/components/detailImage/DetailImage.styled.ts
  src/pages/gig/components/makerIntroduce/MakerIntroduce.tsx
  src/pages/modifyManage/ModifyManage.styled.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/register/Register.styled.ts
Labels: :recycle: REFACTOR

#461 [Fix/#459] 비회원 예매 취소 반영 수정
  src/constants/bookingStatus.ts
  src/pages/cancel/Cancel.styled.ts
  src/pages/cancel/Cancel.tsx
  src/pages/lookup/Lookup.tsx
Labels: :bug: BUG, :sparkles: FEAT

#479 fix: 리프레시 토큰 재발급 오류 수정
  src/apis/domains/users/api.ts
  src/apis/domains/users/queries.ts
  src/hooks/useTokenRefresher.tsx
  src/typings/api/schema/index.ts
Labels: :bug: BUG, :sparkles: FEAT

#471 [Feat/#470] 토스트 개선, 토스트 유틸 함수 구현, QA 반영
  src/components/commons/mapInput/MapInput.styled.ts
  src/components/commons/toast/Toast.styled.ts
  src/components/commons/toast/Toast.tsx
  src/pages/cancel/Cancel.tsx
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :sparkles: FEAT

#473 [Fix/#462] 자잘한 디자인 QA + 변경사항 반영
  src/assets/svgs/BtnFilter.tsx
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/FilterBottomSheet/FilterBottomSheet.styled.ts
  src/pages/ticketholderlist/components/FilterBottomSheet/FilterBottomSheet.tsx
  src/pages/ticketholderlist/components/manageCard/ManageAccount.tsx
  src/pages/ticketholderlist/components/manageCard/ManageCheckBox.styled.ts
  src/pages/ticketholderlist/components/searchBar/SearchBar.tsx
Labels: :bug: BUG

#477 [Feat/#475] 인앱브라우저 경고 모달 추가
  package.json
  src/pages/ticketholderlist/TicketHolderList.tsx
  yarn.lock
Labels: :sparkles: FEAT
