Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2024-10, with the labels that each got.

#417 [Feat/#381] 어드민 페이지 생성
  package.json
  public/svgs/btn_modal_delete.svg
  public/svgs/ic_delete.svg
  public/svgs/icon_img.svg
  public/svgs/switch.svg
  src/admin/compontets/adminHeader/AdminHeader.styled.ts
  src/admin/compontets/adminHeader/AdminHeader.tsx
  src/admin/compontets/adminNavBar/AdminNavBar.styled.ts
  src/admin/compontets/adminNavBar/AdminNavBar.tsx
  src/admin/compontets/commons/adminButton/AdminButton.styled.ts
  src/admin/compontets/commons/adminButton/AdminButton.tsx
  src/admin/compontets/commons/linkButton/LinkButton.styled.ts
  src/admin/compontets/commons/linkButton/LinkButton.tsx
  src/admin/compontets/commons/linkModal/LinkModal.styled.ts
  src/admin/compontets/commons/linkModal/LinkModal.tsx
  src/admin/compontets/commons/tab/Tab.styled.ts
  src/admin/compontets/commons/tab/Tab.tsx
  src/admin/pages/admin/Admin.tsx
  src/admin/pages/adminNotFound/AdminNotFound.styled.ts
  src/admin/pages/adminNotFound/AdminNotFound.tsx
  src/admin/pages/booking/Book.tsx
  src/admin/pages/gig/Gig.tsx
  src/admin/pages/promotion/Promotion.styled.ts
  src/admin/pages/promotion/Promotion.tsx
  src/admin/pages/promotion/components/AdminBanner/AdminBanner.styled.ts
  src/admin/pages/promotion/components/AdminBanner/AdminBanner.tsx
  src/admin/pages/promotion/components/AdminCarousel/AdminCarousel.styled.ts
  src/admin/pages/promotion/components/AdminCarousel/AdminCarousel.tsx
  src/admin/pages/promotion/components/cardCarousel/CardCarousel.styled.ts
  src/admin/pages/promotion/components/cardCarousel/CardCarousel.tsx
  src/admin/pages/user/User.tsx
  src/apis/domains/admins/api.ts
  src/apis/domains/admins/queries.ts
  src/apis/domains/files/api.ts
  src/apis/domains/files/queries.ts
  src/assets/svgs/BtnModalDelete.tsx
  src/assets/svgs/IcDelete.tsx
  src/assets/svgs/IconImg.tsx
  src/assets/svgs/SelectionControlCheckboxSelectedOff.tsx
  src/assets/svgs/Switch.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/index.tsx
  src/components/commons/input/textField/TextField.styled.ts
  src/components/layout/AdminLayout.tsx
  src/pages/main/components/carousel/Carousel.tsx
  src/routes/AdminRoutes.tsx
  src/routes/GigRoutes.tsx
  src/routes/Router.tsx
  src/styles/desktop.ts
  src/styles/global.ts
  src/typigs/ai/schea/index.ts
  src/typings/api/schema/index.ts
  tsconfig.app.json
  yarn.lock
Labels: :rocket: API, :sparkles: FEAT

#414 [Fix/#412] 회차수 10회까지 변경가능하도록 수정
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/modifyManage/components/StepperModifyManageBox.tsx
  src/pages/myRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG, :sparkles: FEAT

#420 [Fix/#419] 회차 추가시 버튼 활성화 안되던 문제 해결
  src/pages/modifyManage/ModifyManage.tsx
Labels: :bug: BUG, :sparkles: FEAT

#426 [Fix/#421] 공연 수정하기에서 처음으로 메이커 추가 시, 반영안되는 버그
  src/pages/modifyManage/ModifyManage.tsx
Labels: :bug: BUG, :sparkles: FEAT

#427 [Feat/#425] 공연수정 메이커 이미지 에디터 추가
  src/pages/modifyManage/components/RoleWrapper.tsx
Labels: :sparkles: FEAT

#430 [Fix/#429] 예약 페이지에서 모든 스케쥴의 예매 가능 여부를 확인하도록 수정
  src/pages/book/Book.tsx
  src/pages/gig/Gig.tsx
Labels: :bug: BUG, :sparkles: FEAT

#432 [Feat/#431] 편집 상태에서 백버튼 삭제
  src/components/commons/navigation/Navigation.tsx
  src/constants/navigationState.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :sparkles: FEAT

#434 [Bug/#433] '공연 수정하기' 에서 cast 미리보기 안 뜨는 문제 + 추가된 회차에 예매한 경우 csv에 반영 안되는 문제
  src/apis/domains/performances/queries.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/modifyManage/components/RoleLayout.tsx
  src/pages/modifyManage/components/RoleWrapper.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG, :sparkles: FEAT
