Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2024-11, with the labels that each got.

#441 [Fix/#436] 사이드바 하단 잘리는 오류 수정
  src/App.css
  src/App.tsx
  src/components/commons/hamburger/Hamburger.styled.ts
Labels: :bug: BUG, :twisted_rightwards_arrows: MERGE

#442 [Fix/#436] 사이드바 하단 잘리는 오류 수정
  src/components/commons/hamburger/Hamburger.styled.ts
  src/components/commons/hamburger/Hamburger.tsx
Labels: :bug: BUG

#451 [ Refactor/#450 ] Bottom Sheet 상단 padding값 변경 가능하도록 변경
  src/components/commons/bottomSheet/BottomSheet.styled.ts
  src/components/commons/bottomSheet/BottomSheet.tsx
Labels: :recycle: REFACTOR

#445 [Feat/#437] DateTimePicker 변경
  package.json
  src/components/commons/datePicker/DatePicker.tsx
  src/components/commons/datePicker/calendar.css
  src/components/commons/renewTimePicker/RenewTimePicker.styled.ts
  src/components/commons/renewTimePicker/RenewTimePicker.tsx
  src/components/index.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/register/Register.tsx
  src/pages/register/components/DateTimePicker/index.styled.ts
  src/pages/register/components/DateTimePicker/index.tsx
  src/pages/register/utils/handleEvent.ts
  src/pages/register/utils/index.ts
  yarn.lock
Labels: :sparkles: FEAT

#447 [Feat/#446] 단일 회차 밖에 없을 시, 자동 회차 선택되도록 수정
  src/hooks/useTokenRefresher.tsx
  src/pages/book/Book.tsx
Labels: :sparkles: FEAT
