Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2024-07, with the labels that each got.

#14 [Init/#1] ESLint, Prettier, StyleLint 초기세팅"
  .eslintrc.cjs
  .pnp.cjs
  .pnp.loader.mjs
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  .vscode/extensions.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarnrc.yml
  eslint.config.js
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/test.css
  src/test.tsx
  src/test2.tsx
  vite.config.ts
  vite.config.ts.timestamp-1719496545088-b660cb2fd5865.mjs
  yarn.lock
Labels: :bug: BUG, :sparkles: FEAT, :wrench: INIT

#19 [Init/#9] 폴더구조 세팅 및 라우터 설정
  .yarnrc.yml
  package.json
  src/App.css
  src/apis/.gitkeep
  src/assets/images/.gitkeep
  src/assets/react.svg
  src/assets/svgs/.gitkeep
  src/assets/svgs/index.tsx
  src/components/commons/.gitkeep
  src/hooks/.gitkeep
  src/index.css
  src/pages/APage/Apage.styled.tsx
  src/pages/APage/Apage.tsx
  src/pages/APage/components/.gitkeep
  src/pages/APage/hooks/.gitkeep
  src/pages/APage/types/.gitkeep
  src/pages/APage/utils/.gitkeep
  src/routes/Router.tsx
  src/styles/.gitkeep
  src/test.css
  src/test.tsx
  src/test2.tsx
  src/types/.gitkeep
  src/utils/.gitkeep
  yarn.lock
Labels: :wrench: INIT

#18 [Feat/#9] vercel 자동 배포 추가
  .github/workflows/vercelDeploy.yml
  vercel.json
Labels: :sparkles: FEAT

#20 [Init/#7] 디자인시스템 초기세팅
  index.html
  package.json
  src/App.tsx
  src/main.tsx
  src/routes/Router.tsx
  src/styles/.gitkeep
  src/styles/fonts/PretendardVariable.woff2
  src/styles/fonts/fonts.css
  src/styles/generator.ts
  src/styles/global.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
  yarn.lock
Labels: :sparkles: FEAT, :wrench: INIT

#23 [Init/#22] Path Alias 추가
  package.json
  src/App.tsx
  src/constants/.gitkeep
  src/main.tsx
  src/pages/APage/Apage.styled.tsx
  src/pages/APage/Apage.tsx
  src/pages/APage/constants/.gitkeep
  src/routes/Router.tsx
  tsconfig.app.json
  vite.config.ts
  yarn.lock
Labels: :sparkles: FEAT, :wrench: INIT

#25 [Docs/#24] Readme 수정
  README.md
Labels: :memo: DOCS

#26 [Feat/#21] storybook 초기세팅
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/ex-stories/Button.stories.ts
  src/components/ex-stories/Button.tsx
  src/components/ex-stories/button.css
  yarn.lock
Labels: :sparkles: FEAT, :wrench: INIT

#28 [Feat/#27] chromatic 배포
  .github/workflows/chromatic.yml
  package.json
  yarn.lock
Labels: :sparkles: FEAT

#31 [Refactor/#30] 디자인시스템 업데이트
  src/styles/generator.ts
  src/styles/theme.ts
Labels: :recycle: REFACTOR

#38 [Feat/#37] 테스트 페이지 추가
  src/pages/test/TestPage.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#40 [Init/#39] svgr 세팅
  package.json
  public/svgs/icon_textfiedl_delete.svg
  src/assets/svgs/.gitkeep
  src/assets/svgs/IconTextfiedlDelete.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/index.tsx
  vite.config.ts
  yarn.lock
Labels: :sparkles: FEAT, :wrench: INIT

#34 [Init/#33] Jotai 추가
  package.json
  src/stores/.gitkeep
  tsconfig.app.json
  yarn.lock
Labels: :sparkles: FEAT, :wrench: INIT

#45 [Feat/#43] Button 공통 컴포넌트 추가
  eslint.config.js
  src/components/commons/Button/Button.styled.ts
  src/components/commons/Button/Button.tsx
  vite.config.ts
Labels: :sparkles: FEAT

#47 [Feat/#32] Input 공통 컴포넌트 제작
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/provider.tsx
  package.json
  src/components/commons/.gitkeep
  src/components/commons/inputs/textAreas/TextArea.stories.tsx
  src/components/commons/inputs/textAreas/TextArea.styled.ts
  src/components/commons/inputs/textAreas/TextArea.tsx
  src/components/commons/inputs/textFields/TextField.stories.tsx
  src/components/commons/inputs/textFields/TextField.styled.ts
  src/components/commons/inputs/textFields/TextField.tsx
  src/components/ex-stories/Button.stories.ts
  src/components/ex-stories/Button.tsx
  src/components/ex-stories/button.css
  src/pages/test/TestPage.tsx
  src/styles/fonts/fonts.css
  src/utils/.gitkeep
  src/utils/useInputFilter.ts
  yarn.lock
Labels: :sparkles: FEAT

#49 [Fix/#48] 배포시 발생하는 ESLint 오류 수정
  eslint.config.js
  src/components/commons/inputs/textAreas/TextArea.stories.tsx
Labels: :bug: BUG, :sparkles: FEAT

#50 [Fix/#48] 배포시 발생하는 ESLint 오류 수정 - 2
  eslint.config.js
  vite.config.ts
Labels: :bug: BUG, :sparkles: FEAT

#52 [Fix/#48] 배포시 발생하는 ESLint 오류 수정 - 3
  src/assets/svgs/IconTextfiedlDelete.tsx
  src/components/commons/inputs/textAreas/TextArea.stories.tsx
  src/components/commons/inputs/textFields/TextField.stories.tsx
Labels: :bug: BUG, :sparkles: FEAT

#59 [Fix/#58] 공통 컴포넌트 글자체 반영
  src/components/commons/button/Button.styled.ts
Labels: :bug: BUG, :sparkles: FEAT

#56 [Feat/#53] Stepper 공통 컴포넌트 추가
  public/svgs/icon_minus.svg
  public/svgs/icon_plus.svg
  src/assets/svgs/IconMinus.tsx
  src/assets/svgs/IconPlus.tsx
  src/assets/svgs/index.ts
  src/components/commons/stepper/Stepper.stories.tsx
  src/components/commons/stepper/Stepper.styled.ts
  src/components/commons/stepper/Stepper.tsx
  src/pages/test/TestPage.tsx
Labels: :sparkles: FEAT

#57 [Feat/#44] 공통 Navigation 추가
  public/svgs/ic_hamburgar.svg
  public/svgs/icon_ arrow_left.svg
  public/svgs/icon_ arrow_right.svg
  public/svgs/icon_logo.svg
  public/svgs/icon_x_button.svg
  src/assets/svgs/IcHamburgar.tsx
  src/assets/svgs/IconArrowLeft.tsx
  src/assets/svgs/IconArrowRight.tsx
  src/assets/svgs/IconLogo.tsx
  src/assets/svgs/IconXButton.tsx
  src/assets/svgs/index.ts
  src/components/commons/navigation/Navigation.styled.ts
  src/components/commons/navigation/Navigation.tsx
  src/components/layout/Layout.tsx
  src/constants/.gitkeep
  src/constants/navigationState.ts
  src/hooks/.gitkeep
  src/pages/book/Book.tsx
  src/pages/lookup/Lookup.tsx
  src/pages/manage/Manage.tsx
  src/pages/register/Register.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#62 [Fix/#60] 모달 외부 영역 클릭시, 모달 닫는 로직 추가
  src/components/commons/modal/Alert.tsx
  src/components/commons/modal/Confirm.tsx
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/components/commons/modal/components/ModalWrapper.tsx
Labels: :bug: BUG, :sparkles: FEAT

#68 [Feat/#67] 공통 Toast 컴포넌트 추가
  public/svgs/icon_check.svg
  src/assets/svgs/IconCheck.tsx
  src/assets/svgs/index.ts
  src/components/commons/toast/Toast.styled.ts
  src/components/commons/toast/Toast.tsx
  src/hooks/useToast.ts
  src/pages/test/TestPage.tsx
Labels: :sparkles: FEAT

#46 [Feat/#35] Bottom Sheet 공통 컴포넌트 추가
  index.html
  public/svgs/icom_copy.svg
  src/assets/svgs/IcomCopy.tsx
  src/assets/svgs/index.tsx
  src/components/commons/bottomSheet/BottomSheet.styled.ts
  src/components/commons/bottomSheet/BottomSheet.tsx
  src/components/commons/bottomSheet/OuterLayout.styled.ts
  src/components/commons/bottomSheet/OuterLayout.tsx
  src/components/commons/bottomSheet/actionsBottomSheet/ActionBottomSheet.styled.ts
  src/components/commons/bottomSheet/actionsBottomSheet/ActionBottomSheet.tsx
  src/components/commons/bottomSheet/actionsBottomSheet/phoneNumber/PhoneNumber.styled.ts
  src/components/commons/bottomSheet/actionsBottomSheet/phoneNumber/PhoneNumber.tsx
  src/components/commons/bottomSheet/viewBottomSheet/ViewBottomSheet.styled.ts
  src/components/commons/bottomSheet/viewBottomSheet/ViewBottomSheet.tsx
  src/components/commons/contextBox/Context.styled.ts
  src/components/commons/contextBox/Context.tsx
  src/components/commons/contextBox/ContextBox.styled.ts
  src/components/commons/contextBox/ContextBox.tsx
  src/pages/ActionBottomSheetTest.tsx
  src/pages/NonMbLookup/NonMbLookup.styled.ts
  src/pages/NonMbLookup/NonMbLookup.tsx
  src/pages/NonMbLookup/components/InputWrapper.styled.ts
  src/pages/NonMbLookup/components/InputWrapper.tsx
  src/pages/ViewBottomSheetTest.tsx
  src/routes/Router.tsx
  src/typings/contextBoxProps.ts
Labels: :sparkles: FEAT

#63 [Feat/#51] '내가 등록한 공연' 페이지 추가
  src/assets/images/banner_narrow.png
  src/components/commons/button/Button.tsx
  src/components/commons/navigation/Navigation.styled.ts
  src/components/commons/navigation/Navigation.tsx
  src/pages/MyRegisterdShow/MyRegisterdShow.styled.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/MyRegisterdShow/components/RegisteredCard.styled.ts
  src/pages/MyRegisterdShow/components/RegisteredCard.tsx
  src/pages/MyRegisterdShow/constants/myRegisterShow.ts
  src/pages/MyRegisterdShow/constants/silkagel.png
  src/pages/MyRegisterdShow/hooks/.gitkeep
  src/pages/MyRegisterdShow/types/.gitkeep
  src/pages/MyRegisterdShow/utils/.gitkeep
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#75 [Fix/#74] TextCap 조건 추가
  src/components/commons/input/textField/TextField.tsx
  src/pages/test/TestPage.tsx
Labels: :bug: BUG, :sparkles: FEAT

#73 [Feat/#61] time picker 공통 컴포넌트 추가
  package.json
  public/svgs/icon_calendar.svg
  src/App.tsx
  src/assets/svgs/IconCalendar.tsx
  src/assets/svgs/index.tsx
  src/components/commons/timepicker/TimePicker.styled.ts
  src/components/commons/timepicker/TimePicker.tsx
  src/pages/test/TestPage.tsx
  vite.config.ts.timestamp-1720615197438-4caa287157d55.mjs
  yarn.lock
Labels: :sparkles: FEAT

#78 [Feat/#76] 은행 컴포넌트(바텀시트) 구현
  public/svgs/Icon_shinhan.svg
  public/svgs/icon_ArrowDown.svg
  public/svgs/icon_bnk.svg
  public/svgs/icon_hanna.svg
  public/svgs/icon_ibk.svg
  public/svgs/icon_im.svg
  public/svgs/icon_kabank.svg
  public/svgs/icon_kb.svg
  public/svgs/icon_nonghyup.svg
  public/svgs/icon_saemauel.svg
  public/svgs/icon_sc.svg
  public/svgs/icon_shinhyup.svg
  public/svgs/icon_soohyup.svg
  public/svgs/icon_toss.svg
  public/svgs/icon_woochaegook.svg
  public/svgs/icon_woori.svg
  src/assets/images/.gitkeep
  src/assets/svgs/IconArrowDown.tsx
  src/assets/svgs/IconBnk.tsx
  src/assets/svgs/IconHanna.tsx
  src/assets/svgs/IconIbk.tsx
  src/assets/svgs/IconIm.tsx
  src/assets/svgs/IconKabank.tsx
  src/assets/svgs/IconKb.tsx
  src/assets/svgs/IconNonghyup.tsx
  src/assets/svgs/IconSaemauel.tsx
  src/assets/svgs/IconSc.tsx
  src/assets/svgs/IconShinhan.tsx
  src/assets/svgs/IconShinhyup.tsx
  src/assets/svgs/IconSoohyup.tsx
  src/assets/svgs/IconToss.tsx
  src/assets/svgs/IconWoochaegook.tsx
  src/assets/svgs/IconWoori.tsx
  src/assets/svgs/index.tsx
  src/components/commons/bank/Bank.styled.ts
  src/components/commons/bank/InputAccountWrapper.tsx
  src/components/commons/bank/InputBank.tsx
  src/components/commons/bank/bottomSheet/BankBottomSheet.tsx
  src/components/commons/bank/bottomSheet/BankBtn.tsx
  src/constants/bankList.ts
  src/pages/BankTest.tsx
  src/routes/Router.tsx
  yarn.lock
Labels: :sparkles: FEAT

#83 [Refactor/#82] TextField, TextArea 리팩토링
  src/components/commons/input/textArea/TextArea.tsx
  src/components/commons/input/textField/TextField.tsx
  src/pages/test/TestPage.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#86 [Feat/#76] bank component 아이콘 수정
  src/App.tsx
  src/assets/svgs/IconArrowDown.tsx
  src/components/commons/bank/Bank.styled.ts
  src/components/commons/bank/InputBank.tsx
  src/pages/BankTest.tsx
  yarn.lock
Labels: :sparkles: FEAT

#89 [Refactor/#88] 기존의 book 페이지 gig으로 수정
  package.json
  src/assets/svgs/IcHamburgar.tsx
  src/assets/svgs/IcomCopy.tsx
  src/assets/svgs/IconArrowLeft.tsx
  src/assets/svgs/IconArrowRight.tsx
  src/assets/svgs/IconArrowUp.tsx
  src/assets/svgs/IconBnk.tsx
  src/assets/svgs/IconCalendar.tsx
  src/assets/svgs/IconCheck.tsx
  src/assets/svgs/IconEyeOff.tsx
  src/assets/svgs/IconHanna.tsx
  src/assets/svgs/IconIbk.tsx
  src/assets/svgs/IconIm.tsx
  src/assets/svgs/IconKabank.tsx
  src/assets/svgs/IconKb.tsx
  src/assets/svgs/IconLogo.tsx
  src/assets/svgs/IconMinus.tsx
  src/assets/svgs/IconNonghyup.tsx
  src/assets/svgs/IconPlus.tsx
  src/assets/svgs/IconSaemauel.tsx
  src/assets/svgs/IconSc.tsx
  src/assets/svgs/IconShinhan.tsx
  src/assets/svgs/IconShinhyup.tsx
  src/assets/svgs/IconSoohyup.tsx
  src/assets/svgs/IconTextfiedlDelete.tsx
  src/assets/svgs/IconToss.tsx
  src/assets/svgs/IconWoochaegook.tsx
  src/assets/svgs/IconWoori.tsx
  src/assets/svgs/IconXButton.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/index.tsx
  src/pages/gig/Gig.tsx
  src/pages/gig/components/content/Content.styled.ts
  src/pages/gig/components/content/Content.tsx
  src/pages/gig/components/content/IntroduceContainer.tsx
  src/pages/gig/components/iconText/IconText.styled.ts
  src/pages/gig/components/iconText/IconText.tsx
  src/pages/gig/components/makerIntroduce/MakerIntroduce.styled.ts
  src/pages/gig/components/makerIntroduce/MakerIntroduce.tsx
  src/pages/gig/components/peopleCard/PeopleCard.styled.ts
  src/pages/gig/components/peopleCard/PeopleCard.tsx
  src/pages/gig/components/performanceIntroduce/Contact.tsx
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.styled.ts
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.tsx
  src/pages/gig/components/showInfo/ShowInfo.styled.ts
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/gig/components/showType/ShowType.styled.ts
  src/pages/gig/components/showType/ShowType.tsx
  src/pages/gig/components/tabBar/TabBar.styled.ts
  src/pages/gig/components/tabBar/TabBar.tsx
  src/pages/gig/constants/index.ts
  src/pages/gig/constants/jiwoo.png
  src/routes/Router.tsx
  yarn.lock
Labels: :recycle: REFACTOR, :sparkles: FEAT

#91 [Fix/#90] eslint 버전 8.56.0으로 변경
  package.json
  src/pages/gig/constants/index.ts
  yarn.lock
Labels: :bug: BUG, :sparkles: FEAT

#92 [Fix/#90] vercel.json에 YARN_ENABLE_IMMUTABLE_INSTALLS 추가
  vercel.json
Labels: :package: CHORE, :sparkles: FEAT

#93 [Fix/#90] no-unused-vars 옵션 off로 변경
  eslint.config.js
Labels: :bug: BUG, :sparkles: FEAT

#95 [Fix/#90] TS 옵션 끄기
  tsconfig.app.json
Labels: :bug: BUG, :sparkles: FEAT

#98 [Fix/#90] 배포시 발생하는 type 오류 수정
  src/components/commons/input/textArea/TextArea.stories.tsx
  src/components/commons/input/textField/TextField.stories.tsx
  src/pages/BankTest.tsx
  src/pages/NonMbLookup/components/InputWrapper.tsx
Labels: :bug: BUG, :sparkles: FEAT

#71 [Feat/#69] '비회원 예매 조회' 페이지 추가
  src/assets/svgs/IcOutlinePlace.tsx
  src/assets/svgs/IconArrowDown.tsx
  src/assets/svgs/IconCalendar.tsx
  src/assets/svgs/IconTime.tsx
  src/pages/NonMbLookup/NonMbLookup.styled.ts
  src/pages/NonMbLookup/NonMbLookup.tsx
  src/pages/nonMbLookup/NonMbLookup.styled.ts
  src/pages/nonMbLookup/NonMbLookup.tsx
  src/pages/nonMbLookup/components/InputWrapper.styled.ts
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/routes/Router.tsx
  vite.config.ts
Labels: :sparkles: FEAT

#99 [Fix/#69] '비회원 예매 조회' 페이지 추가
  package.json
  src/pages/nonMbLookup/NonMbLookup.tsx
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/routes/Router.tsx
  yarn.lock
Labels: :sparkles: FEAT

#107 [Refactor/#106] Navigation 공통 컴포넌트 리팩토링
  src/components/commons/navigation/Navigation.tsx
  src/hooks/useHeader.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/lookup/Lookup.tsx
  src/stores/header.ts
  src/typings/headerType.ts
Labels: :recycle: REFACTOR, :sparkles: FEAT

#100 [ Feat/#79 ] eye input 추가 구현
  public/svgs/icon_eye_on.svg
  src/assets/svgs/IconEyeOn.tsx
  src/assets/svgs/index.tsx
  src/components/commons/input/textField/TextField.styled.ts
  src/components/commons/input/textField/TextField.tsx
  src/pages/test/TestPage.tsx
  yarn.lock
Labels: :sparkles: FEAT

#103 [Feat/#94] 카카오 로그인 기능 구현
  .gitignore
  package.json
  src/apis/kakoLogin/getKakaoData.ts
  src/apis/kakoLogin/postKakaoToken.ts
  src/pages/KakaoLoginTest.tsx
  src/pages/kakaoLogin/KakaoLogin.tsx
  src/routes/Router.tsx
  src/utils/kakaoLogin.ts
  yarn.lock
Labels: :rocket: API, :sparkles: FEAT

#117 [Feat/#116] 커스텀 모달 추가 및 모달 뒷 배경 클릭시 없어지지 않도록 변경
  src/App.tsx
  src/components/commons/modal/Alert.tsx
  src/components/commons/modal/Confirm.tsx
  src/components/commons/modal/Modal.tsx
  src/components/commons/modal/components/ModalWrapper.tsx
  src/hooks/useModal.ts
  src/pages/modalTest/BankAccount.tsx
  src/pages/modalTest/ModalTest.tsx
  src/routes/Router.tsx
  src/stores/modal.ts
  src/typings/modalType.ts
Labels: :sparkles: FEAT

#87 [Feat/#72] 예매 조회 페이지 추가
  public/svgs/empty.svg
  src/assets/svgs/Empty.tsx
  src/assets/svgs/IconArrowRight.tsx
  src/assets/svgs/index.tsx
  src/components/commons/bottomSheet/actionsBottomSheet/phoneNumber/PhoneNumber.tsx
  src/pages/lookup/Lookup.styled.ts
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/components/LookupWrapper.styled.ts
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/lookup/components/nonExistent/NonExistent.styled.ts
  src/pages/lookup/components/nonExistent/NonExistent.tsx
  src/pages/lookup/dummyData.ts
  src/pages/lookup/types/lookupType.ts
  svgr-generate.cjs
Labels: :sparkles: FEAT

#97 [Feat/#66] 예매자 리스트 페이지 구현 (+NarrowDropDown으로부터 시작)
  public/svgs/Icon_checkbox_selected_on.svg
  public/svgs/Icon_checkbox_unselected_on.svg
  public/svgs/icon_chevron_back.svg
  public/svgs/icon_toggle_off.svg
  public/svgs/icon_toggle_on.svg
  src/assets/svgs/IconCheckboxSelectedOn.tsx
  src/assets/svgs/IconCheckboxUnselectedOn.tsx
  src/assets/svgs/IconChevronBack.tsx
  src/assets/svgs/IconToggleOff.tsx
  src/assets/svgs/IconToggleOn.tsx
  src/assets/svgs/index.tsx
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.styled.ts
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/MyRegisterdShow/hooks/.gitkeep
  src/pages/MyRegisterdShow/types/.gitkeep
  src/pages/MyRegisterdShow/utils/.gitkeep
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/banner/Banner.styled.ts
  src/pages/ticketholderlist/components/banner/Banner.tsx
  src/pages/ticketholderlist/components/managercard/ManagerCard.styled.ts
  src/pages/ticketholderlist/components/managercard/ManagerCard.tsx
  src/pages/ticketholderlist/components/narrowDropDown/NarrowDropDown.styled.ts
  src/pages/ticketholderlist/components/narrowDropDown/NarrowDropDown.tsx
  src/pages/ticketholderlist/constants/silkagel.png
  src/pages/ticketholderlist/constants/ticketholderlist.ts
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#101 [Feat/#85] 공연 등록 완료 페이지 구현
  package.json
  src/assets/lottie/register-complete.json
  src/pages/register/Register.styled.ts
  src/pages/register/RegisterComplete.tsx
  src/pages/register/constants/index.ts
  src/routes/Router.tsx
  vite.config.ts
  yarn.lock
Labels: :sparkles: FEAT

#124 [Feat/#111] 예매자 삭제 기능 추가
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/banner/Banner.styled.ts
  src/pages/ticketholderlist/components/banner/Banner.tsx
  src/pages/ticketholderlist/components/managercard/ManagerCard.styled.ts
  src/pages/ticketholderlist/components/managercard/ManagerCard.tsx
  src/pages/ticketholderlist/components/selectIcon/SelectIcon.styled.ts
  src/pages/ticketholderlist/components/selectIcon/SelectIcon.tsx
  src/typings/deleteBookerFormatProps.ts
Labels: :sparkles: FEAT

#105 [Feat/#84] 회원/비회원 예매 페이지 추가
  src/components/commons/bottomSheet/BottomSheet.styled.ts
  src/components/commons/bottomSheet/BottomSheet.tsx
  src/components/commons/bottomSheet/actionsBottomSheet/ActionBottomSheet.styled.ts
  src/components/commons/bottomSheet/actionsBottomSheet/ActionBottomSheet.tsx
  src/components/commons/bottomSheet/viewBottomSheet/ViewBottomSheet.styled.ts
  src/components/commons/bottomSheet/viewBottomSheet/ViewBottomSheet.tsx
  src/components/commons/input/textField/TextField.tsx
  src/pages/ActionBottomSheetTest.tsx
  src/pages/ViewBottomSheetTest.tsx
  src/pages/book/Book.styled.ts
  src/pages/book/Book.tsx
  src/pages/book/components/bookerInfo/BookerInfo.styled.ts
  src/pages/book/components/bookerInfo/BookerInfo.tsx
  src/pages/book/components/count/Count.styled.ts
  src/pages/book/components/count/Count.tsx
  src/pages/book/components/easyPassEntry/EasyPassEntry.styled.ts
  src/pages/book/components/easyPassEntry/EasyPassEntry.tsx
  src/pages/book/components/info/Info.styled.ts
  src/pages/book/components/info/Info.tsx
  src/pages/book/components/select/RadioButton.styled.ts
  src/pages/book/components/select/RadioButton.tsx
  src/pages/book/components/select/RadioGroup.tsx
  src/pages/book/components/select/Select.styled.ts
  src/pages/book/components/select/Select.tsx
  src/pages/book/components/termCheck/TermCheck.styled.ts
  src/pages/book/components/termCheck/TermCheck.tsx
  src/pages/book/constants/dummy.ts
  src/pages/book/typings/formData.ts
  src/pages/gig/Gig.tsx
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/routes/Router.tsx
  src/styles/global.ts
Labels: :rocket: API, :sparkles: FEAT

#114 [Feat/#104] 메인 페이지 추가
  public/svgs/Subtract.svg
  public/svgs/banner_basic.svg
  public/svgs/icon_footer_logo.svg
  public/svgs/icon_small_band.svg
  public/svgs/icon_small_dance.svg
  public/svgs/icon_small_etc.svg
  public/svgs/icon_small_musical.svg
  src/assets/images/banner_basic.png
  src/assets/svgs/BannerBasic.tsx
  src/assets/svgs/IconFooterLogo.tsx
  src/assets/svgs/IconSmallBand.tsx
  src/assets/svgs/IconSmallDance.tsx
  src/assets/svgs/IconSmallEtc.tsx
  src/assets/svgs/IconSmallMusical.tsx
  src/assets/svgs/Subtract.tsx
  src/assets/svgs/index.tsx
  src/components/commons/chip/Chip.styled.ts
  src/components/commons/chip/Chip.tsx
  src/pages/main/Main.styled.ts
  src/pages/main/Main.tsx
  src/pages/main/components/chips/Chips.styled.ts
  src/pages/main/components/chips/Chips.tsx
  src/pages/main/components/footer/Footer.styled.ts
  src/pages/main/components/footer/Footer.tsx
  src/pages/main/components/performance/Performance.Cardstyled.ts
  src/pages/main/components/performance/Performance.styled.ts
  src/pages/main/components/performance/Performance.tsx
  src/pages/main/components/performance/PerformnaceCard.tsx
  src/pages/main/components/performance/dummyData.ts
  src/pages/main/constants/chipList.ts
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#119 [Feat/#118] 비회원 예매 조회에 navigation 연결
  src/pages/nonMbLookup/NonMbLookup.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#132 [Feat/#128] nameFilter 추가
  src/pages/test/TestPage.tsx
  src/utils/useInputFilter.ts
Labels: :sparkles: FEAT

#121 [Feat/#120] 메인 페이지 Carousel 기능 추가
  src/assets/images/banner_roll.png
  src/pages/main/Main.tsx
  src/pages/main/components/carousel/Carousel.styled.ts
  src/pages/main/components/carousel/Carousel.tsx
  src/pages/main/components/performance/Performance.tsx
  src/pages/main/constants/dummyData.ts
Labels: :sparkles: FEAT

#131 [Feat/#126] 버튼 URL 연결, Confirm 연결
  public/svgs/icon_empty.svg
  src/assets/svgs/IconEmpty.tsx
  src/assets/svgs/index.tsx
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.styled.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/routes/Router.tsx
  yarn.lock
Labels: :sparkles: FEAT

#135 [Fix/#133] 은행 컴포넌트 수정
  src/components/commons/bank/Bank.styled.ts
  src/components/commons/bank/InputBank.tsx
  src/components/commons/bank/bottomSheet/BankBottomSheet.tsx
  src/pages/BankTest.tsx
  src/routes/Router.tsx
Labels: :bug: BUG, :sparkles: FEAT

#109 [Feat/#102] 공연 정보 입력 뷰 구현
  public/svgs/icon_camera.svg
  public/svgs/icon_check.svg
  public/svgs/icon_checked.svg
  public/svgs/icon_large_band.svg
  public/svgs/icon_large_dance.svg
  public/svgs/icon_large_etc.svg
  public/svgs/icon_large_musical.svg
  public/svgs/icon_photo_delete.svg
  src/assets/svgs/IconCamera.tsx
  src/assets/svgs/IconChecked.tsx
  src/assets/svgs/IconLargeBand.tsx
  src/assets/svgs/IconLargeDance.tsx
  src/assets/svgs/IconLargeEtc.tsx
  src/assets/svgs/IconLargeMusical.tsx
  src/assets/svgs/IconPhotoDelete.tsx
  src/assets/svgs/index.tsx
  src/components/commons/bank/Bank.styled.ts
  src/components/commons/bank/bottomSheet/BankBottomSheet.tsx
  src/components/commons/input/textArea/TextArea.styled.ts
  src/components/commons/input/textArea/TextArea.tsx
  src/components/commons/timepicker/TimePicker.tsx
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/components/GenreSelect.tsx
  src/pages/register/components/InputRegisterBox.tsx
  src/pages/register/components/PosterThumbnail.tsx
  src/pages/register/components/StepperRegisterBox.tsx
  src/pages/register/components/TimePickerRegisterBox.tsx
  src/pages/register/constants/genreList.ts
  src/pages/register/typings/gigInfo.ts
  src/pages/register/utils/handleEvent.ts
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#127 [Feat/#115] 공연진 정보 등록 뷰 구현
  public/svgs/icon_role_add.svg
  src/assets/svgs/IconRoleAdd.tsx
  src/assets/svgs/index.tsx
  src/components/commons/input/textField/TextField.styled.ts
  src/components/commons/input/textField/TextField.tsx
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/RegisterMaker.tsx
  src/pages/register/components/PosterThumbnail.tsx
  src/pages/register/components/RoleLayout.tsx
  src/pages/register/components/RoleWrapper.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#130 [Feat/#125] 공연등록 미리보기 구현
  src/assets/svgs/index.tsx
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/typings/gigInfo.ts
  src/pages/register/utils/handleEvent.ts
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#137 [Feat/#110] 햄버거 사이드바 컴포넌트 추가
  public/svgs/button_delete_24.svg
  public/svgs/icon_profile.svg
  src/assets/svgs/ButtonDelete24.tsx
  src/assets/svgs/IconArrowRight.tsx
  src/assets/svgs/IconProfile.tsx
  src/assets/svgs/index.tsx
  src/components/commons/hamburger/Hamburger.styled.ts
  src/components/commons/hamburger/Hamburger.tsx
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/hooks/useHamburger.ts
  src/pages/main/components/mainNavigation/MainNavigation.styled.ts
  src/pages/main/components/mainNavigation/MainNavigation.tsx
  src/pages/main/constants/dummyData.ts
  src/stores/hamburger.ts
  src/typings/hamburgerType.ts
Labels: :sparkles: FEAT

#138 [Feat/#136] 등록완료 페이지 헤더 연결
  src/pages/register/RegisterComplete.tsx
Labels: :sparkles: FEAT

#140 [Feat/#134] 토글 버튼 애니메이션, ManagerCard 애니메이션
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/managercard/ManagerCard.styled.ts
  src/pages/ticketholderlist/components/managercard/ManagerCard.tsx
Labels: :sparkles: FEAT

#149 [Fix/#148] TimePciker 포커스 안됨 수정
  src/components/commons/timepicker/TimePicker.tsx
  src/styles/fonts/fonts.css
Labels: :bug: BUG, :sparkles: FEAT

#151 [Fix/#150] ios/safari에서 폰트 안 먹는 오류 수정
  index.html
  src/pages/lookup/Lookup.tsx
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/styles/fonts/PretendardVariable.woff2
  src/styles/fonts/fonts.css
Labels: :bug: BUG

#141 [Feat/#139] 메인 화면 플로팅 버튼 추가
  public/svgs/Union.svg
  public/svgs/btn_floating.svg
  src/assets/svgs/BtnFloating.tsx
  src/assets/svgs/Union.tsx
  src/assets/svgs/index.tsx
  src/pages/main/Main.tsx
  src/pages/main/components/floating/Floating.styled.ts
  src/pages/main/components/floating/Floating.tsx
  src/pages/main/components/performance/Performance.Cardstyled.ts
Labels: :sparkles: FEAT

#163 [Fix/#162] fonts.css 파일 복구
  index.html
  src/styles/fonts/fonts.css
Labels: :bug: BUG

#152 [Fix/#142] 비회원/회원 예매 조회 페이지 내 오류들 수정
  src/assets/svgs/Subtract.tsx
  src/components/commons/label/Labal.tsx
  src/components/commons/label/Label.styled.ts
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/components/LookupWrapper.styled.ts
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/lookup/dummyData.ts
  src/pages/main/components/performance/PerformnaceCard.tsx
  src/pages/nonMbLookup/NonMbLookup.styled.ts
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/utils/calculateDueDate.ts
Labels: :bug: BUG

#153 [Feat/#146] 예매 상세, 예매 페이지 자잘한 사항 수정
  src/components/commons/bottomSheet/actionsBottomSheet/ActionBottomSheet.tsx
  src/components/commons/button/Button.tsx
  src/components/layout/Layout.tsx
  src/pages/book/Book.tsx
  src/pages/book/components/count/Count.tsx
  src/pages/book/components/info/Info.tsx
  src/pages/gig/Gig.styled.ts
  src/pages/gig/Gig.tsx
  src/pages/gig/components/makerIntroduce/MakerIntroduce.styled.ts
  src/pages/gig/components/makerIntroduce/MakerIntroduce.tsx
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/gig/components/showType/ShowType.styled.ts
  src/pages/gig/components/showType/ShowType.tsx
  src/pages/gig/constants/index.ts
Labels: :sparkles: FEAT

#158 [Refactor/#156] 공연진 컴포넌트 삭제버튼 추가
  src/pages/register/components/RoleWrapper.tsx
Labels: :sparkles: FEAT

#164 [ Fix/#160] 예매자 리스트 뷰 수정
  src/assets/svgs/IconCheckboxSelectedOn.tsx
  src/assets/svgs/index.tsx
  src/components/commons/bank/Bank.styled.ts
  src/components/commons/bank/InputBank.tsx
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG, :sparkles: FEAT

#168 [Feat/#166] 로딩 컴포넌트 추가
  src/assets/lottie/loading.json
  src/components/commons/loading/Loading.styled.ts
  src/components/commons/loading/Loading.tsx
  src/pages/test/TestPage.tsx
Labels: :rocket: API, :sparkles: FEAT

#170 [Fix/#161] 메인 페이지 에러 수정 및 햄버거바 변경
  eslint.config.js
  src/components/commons/hamburger/Hamburger.styled.ts
  src/components/commons/hamburger/Hamburger.tsx
  src/pages/main/Main.tsx
  src/pages/main/components/mainNavigation/MainNavigation.styled.ts
  src/pages/main/components/mainNavigation/MainNavigation.tsx
  src/pages/main/components/performance/Performance.tsx
Labels: :bug: BUG, :sparkles: FEAT

#171 [Fix/#165] Register 자잘한 오류 수정
  src/components/commons/input/textField/TextField.tsx
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/components/GenreSelect.tsx
  src/pages/register/components/InputRegisterBox.tsx
  src/pages/register/components/PosterThumbnail.tsx
  src/pages/register/constants/genreList.ts
  src/pages/register/typings/gigInfo.ts
  src/pages/register/utils/handleEvent.ts
  src/utils/useInputFilter.ts
Labels: :bug: BUG, :rocket: API, :sparkles: FEAT

#180 [Fix/#178] 예매 조회 페이지 변경사항 반영
  src/components/commons/button/Button.styled.ts
  src/pages/book/components/paidBook/PaidBook.tsx
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/dummyData.ts
  src/pages/lookup/types/lookupType.ts
  src/pages/modalTest/BankAccount.tsx
Labels: :bug: BUG

#184 [Feat/#155] react query 추가
  package.json
  src/App.tsx
  src/apis/.gitkeep
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/apis/domains/home/api.ts
  src/apis/domains/home/queries.ts
  src/apis/domains/register/index.ts
  src/apis/index.ts
  src/components/commons/chip/Chip.styled.ts
  src/components/commons/chip/Chip.tsx
  src/components/commons/hamburger/Hamburger.tsx
  src/hooks/useTokenRefresher.tsx
  src/pages/main/Main.tsx
  src/pages/main/components/carousel/Carousel.tsx
  src/pages/main/components/performance/Performance.Cardstyled.ts
  src/pages/main/components/performance/Performance.tsx
  src/pages/main/components/performance/PerformnaceCard.tsx
  src/pages/test/TestPage.tsx
  src/routes/Router.tsx
  src/stores/.gitkeep
  src/typings/api/schema/index.ts
  src/typings/commonType.ts
  yarn.lock
Labels: :sparkles: FEAT

#182 [Refactor/#154] 타임피커 수정
  src/assets/svgs/IconCalendar.tsx
  src/components/commons/timepicker/TimePicker.styled.ts
  src/components/commons/timepicker/TimePicker.tsx
  src/pages/register/Register.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#198 [Feat/#195] 유저 API 소셜로그인 회원가입/로그인
  src/apis/domains/users/api.ts
  src/apis/domains/users/queries.ts
  src/pages/KakaoLoginTest.tsx
  src/pages/kakaoLogin/KakaoLogin.tsx
  src/stores/user.ts
  src/typings/userType.ts
  src/utils/kakaoLogin.ts
Labels: :rocket: API, :sparkles: FEAT

#212 [HOTFIX/#211] TimePicker 타입 오류 수정
  src/components/commons/timepicker/TimePicker.tsx
  src/pages/modalTest/ModalTest.tsx
Labels: :sparkles: FEAT, :ambulance: !HOTFIX

#193 [Feat/#185] 비회원 예매 조회 페이지 POST API 연결
  eslint.config.js
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/components/LookupWrapper.styled.ts
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/lookup/dummyData.ts
  src/pages/lookup/types/lookupType.ts
  src/pages/nonMbLookup/components/InputWrapper.tsx
  tsconfig.app.json
Labels: :rocket: API, :sparkles: FEAT

#194 [Fix/#173] 한글 입력 오류 해결
  src/components/commons/input/textField/TextField.tsx
Labels: :bug: BUG, :sparkles: FEAT

#196 [Feat/#189] 예매자 삭제 API 연결
  src/apis/domains/tickets/api.ts
  src/apis/domains/tickets/queries.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/managercard/ManagerCard.tsx
  src/typings/deleteBookerFormatProps.ts
Labels: :rocket: API, :sparkles: FEAT

#200 [Fix/#199] navigate 제대로 연결 안 된 부분 수정
  src/components/commons/hamburger/Hamburger.tsx
  src/pages/main/components/carousel/Carousel.tsx
  src/pages/main/components/floating/Floating.tsx
  src/pages/main/components/performance/Performance.Cardstyled.ts
  src/pages/main/components/performance/PerformnaceCard.tsx
Labels: :bug: BUG

#201 [Feat/#192] 예매 관련 공연 정보 조회 API, 티켓 예매 가능 여부 조회 API, 비회원 예매 요청 API 추가
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/apis/domains/performance/api.ts
  src/apis/domains/performance/queries.ts
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/pages/book/Book.tsx
  src/pages/book/components/bookerInfo/BookerInfo.tsx
  src/pages/book/components/complete/Complete.tsx
  src/pages/book/components/paidBook/PaidBook.tsx
  src/pages/book/components/select/RadioGroup.tsx
  src/pages/book/components/select/Select.tsx
  src/pages/book/typings/formData.ts
  src/pages/book/utils/index.ts
Labels: :rocket: API, :sparkles: FEAT

#214 [Refactor/#213] timepicker 선택 폰트 컬러 변경
  src/components/commons/timepicker/TimePicker.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#203 [Feat/#202] 공연 상세정보 API 추가
  eslint.config.js
  src/apis/domains/performance/api.ts
  src/apis/domains/performance/queries.ts
  src/pages/gig/Gig.tsx
  src/pages/gig/components/content/Content.tsx
  src/pages/gig/components/performanceIntroduce/Contact.tsx
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/register/Register.tsx
Labels: :rocket: API, :sparkles: FEAT

#207 [Feat/#206] 예매 API - 회원 예매 조회
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/components/commons/hamburger/Hamburger.tsx
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/lookup/types/lookupType.ts
Labels: :rocket: API, :sparkles: FEAT

#218 [Feat/#204] 회원 예매 로직 추가
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/pages/book/Book.tsx
  src/pages/book/components/complete/Complete.tsx
  src/pages/book/components/paidBook/PaidBook.tsx
  src/pages/book/components/termCheck/TermCheck.tsx
  src/typings/api/schema/index.ts
Labels: :sparkles: FEAT

#222 [Fix/#221] input 한글 및 이모지 작성 해결
  global.d.ts
  src/components/commons/input/textField/TextField.tsx
  src/utils/useInputFilter.ts
  tsconfig.app.json
Labels: :bug: BUG, :sparkles: FEAT

#223 [Feat/#210] 수정 시 공연 정보 조회 API (GET) 연결
  src/apis/domains/performances/api.ts
  src/apis/domains/performances/queries.ts
  src/components/commons/bank/InputBank.tsx
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/gig/components/makerIntroduce/MakerIntroduce.tsx
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/modifyManage/ModifyMaker.tsx
  src/pages/modifyManage/ModifyManage.styled.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/routes/Router.tsx
  src/typings/api/schema/index.ts
Labels: :rocket: API, :sparkles: FEAT

#225 [Feat/#217] 공연 삭제 API (DELETE) 연결 , 하이퍼링크 연결
  src/apis/domains/performances/api.ts
  src/apis/domains/performances/queries.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :rocket: API, :sparkles: FEAT

#226 [Feat/#224] 메인 캐러셀 인디케이터 추가
  public/svgs/carousel_part_inactive.svg
  src/assets/svgs/CarouselPartInactive.tsx
  src/assets/svgs/index.tsx
  src/components/commons/hamburger/Hamburger.tsx
  src/components/commons/navigation/Navigation.styled.ts
  src/components/commons/navigation/Navigation.tsx
  src/pages/gig/Gig.tsx
  src/pages/main/components/carousel/Carousel.styled.ts
  src/pages/main/components/carousel/Carousel.tsx
Labels: :sparkles: FEAT

#227 [Fix/#208] 디자인 QA 사항 일부 반영
  src/components/commons/bottomSheet/BottomSheet.tsx
  src/pages/main/components/floating/Floating.styled.ts
  src/pages/main/components/floating/Floating.tsx
Labels: :bug: BUG

#228 [Feat/#215] presigned url 및 공연 등록 API 추가
  package.json
  src/apis/domains/files/api.ts
  src/apis/domains/files/queries.ts
  src/apis/domains/home/queries.ts
  src/apis/domains/performance/api.ts
  src/apis/domains/performance/queries.ts
  src/apis/index.ts
  src/components/commons/label/Label.styled.ts
  src/constants/bankList.ts
  src/hooks/useTokenRefresher.tsx
  src/pages/gig/Gig.tsx
  src/pages/gig/components/makerIntroduce/MakerIntroduce.styled.ts
  src/pages/gig/components/makerIntroduce/MakerIntroduce.tsx
  src/pages/gig/components/showInfo/ShowInfo.styled.ts
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/gig/utils/index.ts
  src/pages/main/components/floating/Floating.tsx
  src/pages/register/Register.tsx
  src/pages/register/RegisterComplete.tsx
  src/typings/api/schema/index.ts
  yarn.lock
Labels: :rocket: API, :sparkles: FEAT

#233 [Fix/#229] 예매 조회 페이지 API 수정 사항 반영
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/types/lookupType.ts
  src/pages/main/components/carousel/Carousel.tsx
Labels: :bug: BUG, :rocket: API

#234 [Feat/#232] index 수정
  index.html
  public/BEAT.svg
  public/vite.svg
Labels: :sparkles: FEAT

#239 [Refactor/#237] register 회차, 공연진 노티 추가
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/RegisterMaker.tsx
  src/pages/register/components/StepperRegisterBox.tsx
  src/pages/register/components/TimePickerRegisterBox.tsx
  src/pages/register/utils/handleEvent.ts
Labels: :recycle: REFACTOR, :sparkles: FEAT

#244 [Feat/#238] 디자인 QA 반영 - 준혁
  src/assets/images/banner_narrow.png
  src/assets/svgs/IconCheckboxSelectedOn.tsx
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.styled.ts
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.styled.ts
  src/pages/ticketholderlist/TicketHolderList.styled.ts
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/narrowDropDown/NarrowDropDown.tsx
Labels: :sparkles: FEAT

#245 [Refactor/#243] 이모지 처리 추가
  src/components/commons/input/textArea/TextArea.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#247 [Fix/#246] 티켓 매수 null 이슈 해결
  src/pages/register/Register.tsx
Labels: :bug: BUG, :sparkles: FEAT

#248 [Fix/#236] 쿼리 키 세팅
  src/apis/domains/bookings/queries.ts
  src/apis/domains/performance/queries.ts
  src/apis/domains/performances/queries.ts
  src/apis/domains/tickets/queries.ts
  src/apis/domains/users/queries.ts
  src/apis/index.ts
  src/components/commons/hamburger/Hamburger.tsx
  src/components/commons/label/Label.styled.ts
  src/hooks/useTokenRefresher.tsx
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG, :rocket: API

#249 [Feat/#241] 공연 수정 추가 API
  src/apis/domains/performance/api.ts
  src/apis/domains/performance/queries.ts
  src/apis/domains/performances/queries.ts
  src/components/commons/stepper/Stepper.tsx
  src/components/commons/timepicker/TimePicker.tsx
  src/pages/lookup/dummyData.ts
  src/pages/modifyManage/ModifyMaker.tsx
  src/pages/modifyManage/ModifyManage.styled.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/modifyManage/components/GenreSelect.tsx
  src/pages/modifyManage/components/RoleWrapper.tsx
  src/pages/modifyManage/components/StepperModifyManageBox.tsx
  src/pages/modifyManage/components/TimePickerModifyManageBox.tsx
  src/pages/modifyManage/constants/genreList.ts
  src/pages/modifyManage/typings/gigInfo.ts
  src/pages/register/components/GenreSelect.tsx
  src/pages/register/components/RoleLayout.tsx
Labels: :rocket: API, :sparkles: FEAT

#251 [Feat/#235] 페이지 이동 시 맨 위로 이동하게 기능 구현
  src/components/commons/scrollToTop/ScrollToTop.tsx
  src/components/layout/Layout.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#255 [Refactor/#250] 수정 불가 노티 출력
  src/pages/modifyManage/ModifyMaker.tsx
  src/pages/modifyManage/ModifyManage.styled.ts
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/modifyManage/components/PosterThumbnail.tsx
  src/pages/modifyManage/components/StepperModifyManageBox.tsx
  src/pages/modifyManage/components/TimePickerModifyManageBox.tsx
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/RegisterMaker.tsx
  src/pages/register/components/PosterThumbnail.tsx
  src/pages/register/components/StepperRegisterBox.tsx
  src/pages/register/components/TimePickerRegisterBox.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT, :lipstick: DESIGN

#257 [Fix/#256] stepper 수정
  src/assets/svgs/IconMinus.tsx
  src/assets/svgs/IconPlus.tsx
  src/components/commons/stepper/Stepper.styled.ts
  src/components/commons/stepper/Stepper.tsx
Labels: :bug: BUG, :sparkles: FEAT

#259 [Fix/#258] 공연 등록 페이지 QA 반영
  src/pages/register/Register.tsx
  src/pages/register/components/RoleLayout.tsx
Labels: :bug: BUG, :sparkles: FEAT

#262 [Fix/#260] preview 수정
  src/pages/gig/components/peopleCard/PeopleCard.styled.ts
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.styled.ts
Labels: :bug: BUG, :sparkles: FEAT

#266 [Fix/#263] 메인홈 및 예매 조회하기 QA사항 반영
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/types/lookupType.ts
  src/pages/main/components/carousel/Carousel.tsx
Labels: :bug: BUG

#267 [Fix/#261] 공연 관리 페이지 QA 반영
  src/apis/domains/tickets/api.ts
  src/apis/domains/tickets/queries.ts
  src/pages/book/Book.tsx
  src/pages/book/components/easyPassEntry/EasyPassEntry.tsx
  src/pages/book/components/info/Info.tsx
  src/pages/book/components/paidBook/PaidBook.tsx
  src/pages/lookup/components/LookupCard.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/utils/getDeviceType.ts
Labels: :bug: BUG, :sparkles: FEAT

#268 [Fix] 데이트 이슈 해결
  src/pages/register/Register.tsx
Labels: :bug: BUG, :sparkles: FEAT

#269 [ Bug/#256 ] 예매 완료 페이지 + 공연 상세 페이지 QA 반영
  src/pages/book/components/paidBook/PaidBook.styled.ts
  src/pages/gig/components/performanceIntroduce/Contact.tsx
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.styled.ts
Labels: :bug: BUG, :sparkles: FEAT

#270 [Etc] 기타 수정할 것들 PR
  src/apis/domains/performance/api.ts
  src/components/commons/navigation/Navigation.tsx
  src/pages/modalTest/BankAccount.tsx
  src/pages/modifyManage/components/PosterThumbnail.tsx
  src/styles/global.ts
Labels: :sparkles: FEAT

#272 [Feat/#271] 입금 완료시 토스트 표시 구현
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :sparkles: FEAT

#274 [Fix/#273] 공연 등록할 때 출연진 추가 시 다음 스텝으로 안 넘어가는 오류 수정
  src/assets/svgs/IconMinus.tsx
  src/assets/svgs/IconPlus.tsx
  src/components/commons/stepper/Stepper.styled.ts
  src/pages/MyRegisterdShow/MyRegisterdShow.tsx
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.styled.ts
  src/pages/MyRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/register/Register.tsx
Labels: :bug: BUG

#278 [ Fix/#227 ] 예매 내역 조회 쿼리 키 오류
  src/apis/domains/bookings/queries.ts
  src/apis/domains/home/queries.ts
  src/apis/domains/performance/queries.ts
Labels: :bug: BUG

#276 [Fix/#275] date picker 막기
  src/components/commons/timepicker/TimePicker.tsx
  src/pages/main/components/carousel/Carousel.tsx
Labels: :bug: BUG, :sparkles: FEAT

#280 [Fix] pre태그로 수정
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.styled.ts
Labels: :bug: BUG, :sparkles: FEAT

#284 [Fix/#282] 데모데이 용 - 메인에 당일 공연 나오도록 설정
  src/pages/main/components/performance/Performance.tsx
  src/pages/main/components/performance/PerformnaceCard.tsx
Labels: :bug: BUG

#286 [Refactor/#285] 데이트 타임피커 필드 창 누르면 popper 오픈
  src/components/commons/timepicker/TimePicker.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#287 [Chore] index 수정
  index.html
  public/BEAT.jpg
Labels: :package: CHORE, :sparkles: FEAT

#293 [Feat] 프로젝트 설정
  README.md
  index.html
  public/BEAT.jpg
  public/manifest.json
  public/og_img.png
  public/service-worker.js
Labels: :sparkles: FEAT

#292 refactor: remove qs and replace with URLSearchParams Web API
  package.json
  src/apis/domains/files/api.ts
  yarn.lock
Labels: :package: CHORE, :rocket: API

#296 [Feat/#294] GA 태그 관리자 추가
  index.html
  src/apis/domains/files/api.ts
Labels: :sparkles: FEAT

#298 [Fix/#297] GA 추적코드 변경
  index.html
Labels: :bug: BUG, :sparkles: FEAT

#302 [Feat/#295] 개발서버 배포
  .github/workflows/vercelDeploy.yml
Labels: :sparkles: FEAT
