Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2024-09, with the labels that each got.

#392 [Fix/#391] Poster 사진 업로드 이슈 수정
  src/components/commons/imageEditor/ImageEditor.styled.ts
  src/pages/register/components/PosterThumbnail.tsx
Labels: :bug: BUG, :sparkles: FEAT

#401 [HOTFIX/#400] TokenRefresher 훅 추가
  src/components/layout/Layout.tsx
  src/hooks/useTokenRefresher.tsx
  src/routes/Router.tsx
Labels: :rocket: API, :sparkles: FEAT, :ambulance: !HOTFIX

#395 [Bug/#394] CSV 버그 수정
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG, :sparkles: FEAT

#397 [Feat/#396] 예매자 선택 영역 확장 + 데이터 렌더링 안되던 버그 수정
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/pages/ticketholderlist/components/managercard/ManagerCard.tsx
Labels: :sparkles: FEAT

#405 [Feat/#404] presignedUrl 응답 타입 변경
  src/apis/domains/files/api.ts
  src/pages/register/Register.tsx
Labels: :sparkles: FEAT

#403 [Refactor/#402] 로컬 스토리지의 role 여부에 따라, 저장된 로그인 여부 clear 하도록 수정
  src/apis/domains/users/queries.ts
  src/hooks/useTokenRefresher.tsx
  src/stores/user.ts
  src/typings/api/schema/index.ts
  src/typings/userType.ts
Labels: :rocket: API, :recycle: REFACTOR, :sparkles: FEAT

#407 [Fix/#406] 예매 관리 페이지 회차 정보 수정
  src/constants/convertingNumber.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :bug: BUG

#409 [Refactor/#408] inputMode 지정
  src/components/commons/input/textField/TextField.tsx
  src/pages/book/components/bookerInfo/BookerInfo.tsx
  src/pages/book/components/easyPassEntry/EasyPassEntry.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/nonMbLookup/components/InputWrapper.tsx
  src/pages/register/Register.tsx
Labels: :memo: DOCS, :recycle: REFACTOR, :sparkles: FEAT
