Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2024-08, with the labels that each got.

#304 [Refactor/#301] 컨벤션에 맞게 폴더명 변경
  src/apis/domains/performance/api.ts
  src/apis/domains/performance/queries.ts
  src/apis/domains/performances/api.ts
  src/apis/domains/performances/queries.ts
  src/pages/APage/Apage.styled.tsx
  src/pages/APage/Apage.tsx
  src/pages/APage/components/.gitkeep
  src/pages/APage/constants/.gitkeep
  src/pages/APage/hooks/.gitkeep
  src/pages/APage/types/.gitkeep
  src/pages/APage/utils/.gitkeep
  src/pages/book/Book.tsx
  src/pages/book/components/complete/Complete.tsx
  src/pages/gig/Gig.tsx
  src/pages/kakaoAuth/KakaoAuth.tsx
  src/pages/lookup/components/LookupCard.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/myRegisterdShow/MyRegisterdShow.styled.ts
  src/pages/myRegisterdShow/MyRegisterdShow.tsx
  src/pages/myRegisterdShow/components/registeredcard/RegisteredCard.styled.ts
  src/pages/myRegisterdShow/components/registeredcard/RegisteredCard.tsx
  src/pages/myRegisterdShow/constants/myRegisterShow.ts
  src/pages/myRegisterdShow/constants/silkagel.png
  src/pages/register/Register.tsx
  src/pages/test/ActionBottomSheetTest.tsx
  src/pages/test/KakaoLoginTest.tsx
  src/pages/test/ViewBottomSheetTest.tsx
  src/pages/test/modalTest/BankAccount.tsx
  src/pages/test/modalTest/ModalTest.tsx
  src/routes/GigRoutes.tsx
  src/routes/LookupRoutes.tsx
  src/routes/ManageRoutes.tsx
  src/routes/RegisterRouter.tsx
  src/routes/Router.tsx
  src/routes/TestRoutes.tsx
  src/routes/index.ts
  tsconfig.app.json
  vite.config.ts.timestamp-1719496545088-b660cb2fd5865.mjs
  vite.config.ts.timestamp-1720615197438-4caa287157d55.mjs
  vite.config.ts.timestamp-1721073999219-c632ba1a33cfb.mjs
Labels: :recycle: REFACTOR, :sparkles: FEAT

#310 [Feat/#309] 동적 meta 태그 설정
  index.html
  package.json
  src/App.tsx
  src/components/commons/meta/MetaTag.tsx
  src/pages/book/Book.tsx
  src/pages/gig/Gig.tsx
  src/pages/lookup/Lookup.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/myRegisterdShow/MyRegisterdShow.tsx
  src/pages/nonMbLookup/NonMbLookup.tsx
  src/pages/register/Register.tsx
  src/pages/register/RegisterComplete.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
  src/utils/generatePerformanceRoute.ts
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Labels: :sparkles: FEAT

#312 [Feat/#309] vercel.json puppeteer 빌드 env 추가
  vercel.json
Labels: :sparkles: FEAT

#315 [Fix/#314] puppeteer-core 이용하기
  package.json
  vercel.json
  vite.config.ts
  yarn.lock
Labels: :bug: BUG, :sparkles: FEAT

#316 fix: executablePath 수정
  package.json
  vercel.json
  vite.config.ts
Labels: :bug: BUG, :sparkles: FEAT

#320 Fix/#314/puppeteer error
  package.json
  vercel.json
  vite.config.ts
  yarn.lock
Labels: :bug: BUG, :sparkles: FEAT

#323 fix: chromium sparticuz로 변경
  package.json
  vercel.json
  vite.config.ts
  yarn.lock
Labels: :bug: BUG, :sparkles: FEAT

#326 [Fix/#314] 의존성 없는거 해결
  .dockerignore
  Dockerfile
  vercel.json
Labels: :bug: BUG, :sparkles: FEAT

#311 [Fix/#306] 메인에 종료된 공연 표시 및 라벨링
  src/components/commons/label/Labal.tsx
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/main/components/performance/Performance.tsx
  src/pages/main/components/performance/PerformnaceCard.tsx
  src/utils/calculateDueDate.ts
Labels: :bug: BUG

#328 [Fix/#327] kakao meta 오류 해결
  .dockerignore
  src/components/commons/meta/MetaTag.tsx
  src/pages/gig/Gig.tsx
  src/utils/kakaoLogin.ts
Labels: :bug: BUG, :sparkles: FEAT

#330 [Fix/#329] env 파일 분리
  .gitignore
  package.json
  src/utils/generatePerformanceRoute.ts
  src/utils/kakaoLogin.ts
  vite.config.ts
Labels: :bug: BUG

#334 [Refactor/#333] image ratio 변경
  src/pages/book/components/info/Info.styled.ts
  src/pages/book/components/info/Info.tsx
  src/pages/gig/components/peopleCard/PeopleCard.styled.ts
  src/pages/gig/components/peopleCard/PeopleCard.tsx
  src/pages/gig/components/showInfo/ShowInfo.styled.ts
  src/pages/gig/components/showInfo/ShowInfo.tsx
  src/pages/main/components/performance/Performance.Cardstyled.ts
Labels: :recycle: REFACTOR, :sparkles: FEAT

#332 [Feat/#331] 404 페이지 추가
  public/svgs/not_found_asset.svg
  src/assets/svgs/NotFoundAsset.tsx
  src/assets/svgs/index.tsx
  src/pages/book/Book.tsx
  src/pages/gig/Gig.tsx
  src/pages/notFound/NotFound.styled.ts
  src/pages/notFound/NotFound.tsx
  src/routes/Router.tsx
Labels: :sparkles: FEAT

#339 [Fix/#335] 종료된 공연 예매 불가능 하도록 수정 및 로그인 여부에 따른 공연 등록 페이지 접근 로직 수정
  src/pages/book/Book.tsx
  src/pages/gig/Gig.tsx
  src/pages/main/components/floating/Floating.styled.ts
  src/pages/main/components/floating/Floating.tsx
  src/pages/main/components/performance/Performance.tsx
  src/pages/register/Register.tsx
Labels: :bug: BUG

#346 [Fix/#345] 공연 예매 에러 로직 수정
  src/apis/domains/bookings/api.ts
  src/apis/domains/bookings/queries.ts
  src/apis/errorResponse.ts
  src/components/commons/modal/components/ModalWrapper.styled.ts
  src/pages/book/Book.tsx
Labels: :bug: BUG, :sparkles: FEAT

#342 [Refactor/#341] poster 비율 qa 반영
  src/components/commons/meta/MetaTag.tsx
  src/pages/main/components/performance/PerformanceCard.styled.ts
  src/pages/main/components/performance/PerformnaceCard.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#344 [Fix/#343] 공연 삭제 로직 수정
  src/pages/modifyManage/ModifyManage.tsx
Labels: :bug: BUG

#348 [Hotfix/#347] 공연 등록 및 예매 중복 요청 방지
  src/pages/book/Book.tsx
  src/pages/register/Register.tsx
Labels: :sparkles: FEAT

#350 [!HOTFIX] 캐러셀 한 개 고정 + 외부 링크 이동
  src/pages/main/components/carousel/Carousel.styled.ts
  src/pages/main/components/carousel/Carousel.tsx
Labels: :twisted_rightwards_arrows: MERGE, :ambulance: !HOTFIX

#357 [Refactor/#356] 등록하기 1차 스프린트 퍼블리싱
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#354 [Feat/#322] 로그아웃 기능 추가
  src/apis/domains/bookings/api.ts
  src/apis/domains/users/api.ts
  src/apis/kakaoLogin/api.ts
  src/apis/kakaoLogin/getKakaoData.ts
  src/apis/kakaoLogin/postKakaoToken.ts
  src/apis/kakaoLogin/queries.ts
  src/components/commons/hamburger/Hamburger.styled.ts
  src/components/commons/hamburger/Hamburger.tsx
  src/hooks/useTokenRefresher.tsx
Labels: :rocket: API, :sparkles: FEAT

#355 [Feat/#351] 공연 등록하기 상세 이미지 클라 구현
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/components/DetailImage.tsx
  src/pages/register/typings/gigInfo.ts
  src/pages/register/utils/handleEvent.ts
Labels: :sparkles: FEAT

#358 [Refactor/#352] 공연 및 스케쥴의 종료와 매진과 관련된 로직 서버에서 받아온 값으로 수정
  src/pages/book/Book.tsx
  src/pages/book/components/select/RadioGroup.tsx
  src/pages/book/components/select/Select.tsx
  src/pages/gig/Gig.tsx
  src/typings/api/schema/index.ts
Labels: :recycle: REFACTOR, :sparkles: FEAT

#368 [Feat/#367] maker UI 변경
  src/pages/gig/components/peopleCard/PeopleCard.styled.ts
  src/pages/register/Register.styled.ts
  src/pages/register/Register.tsx
  src/pages/register/components/RoleLayout.tsx
  src/pages/register/components/RoleWrapper.tsx
Labels: :sparkles: FEAT

#366 [Feat/#365] 상세이미지 업로드 서버 연결
  src/apis/domains/files/api.ts
  src/pages/register/Register.tsx
Labels: :sparkles: FEAT

#360 [Refactor/#359] 캐러셀 리팩토링
  src/pages/main/components/carousel/Carousel.tsx
Labels: :recycle: REFACTOR

#371 [Refactor/#362] 메인 및 예매 조회 UI 변경사항 반영
  src/components/commons/button/Button.styled.ts
  src/components/commons/button/Button.tsx
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/components/LookupWrapper.styled.ts
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/main/components/performance/Performance.styled.ts
  src/pages/main/components/performance/Performance.tsx
  src/pages/main/components/performance/PerformanceCard.styled.ts
Labels: :recycle: REFACTOR

#373 [Feat/#370] 상세 페이지에서 상세 이미지 뷰 추가
  src/pages/gig/Gig.tsx
  src/pages/gig/components/content/Content.tsx
  src/pages/gig/components/detailImage/DetailImage.styled.ts
  src/pages/gig/components/detailImage/DetailImage.tsx
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.styled.ts
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.tsx
  src/pages/register/Register.tsx
  src/typings/api/schema/index.ts
Labels: :sparkles: FEAT

#376 [Feat/#372] 예매 조회 페이지 취소 상태 추가
  src/constants/bookingStatus.ts
  src/pages/lookup/Lookup.tsx
  src/pages/lookup/components/LookupCard.styled.ts
  src/pages/lookup/components/LookupCard.tsx
  src/pages/lookup/components/LookupWrapper.tsx
  src/pages/lookup/types/lookupType.ts
Labels: :sparkles: FEAT

#378 [Feat/#375] 회차 선택 UI 변경
  src/pages/book/Book.tsx
  src/pages/book/components/select/RadioButton.styled.ts
  src/pages/book/components/select/RadioButton.tsx
  src/pages/book/components/select/RadioGroup.tsx
Labels: :sparkles: FEAT

#382 [Fix/#377] 예매하기 API 오류 수정
  src/pages/book/Book.tsx
Labels: :bug: BUG, :rocket: API, :sparkles: FEAT

#383 [Feat/#369] 이미지 크롭 기능 추가
  package.json
  src/components/commons/imageEditor/ImageEditor.styled.ts
  src/components/commons/imageEditor/ImageEditor.tsx
  src/pages/register/components/PosterThumbnail.tsx
  src/pages/register/components/RoleWrapper.tsx
  yarn.lock
Labels: :sparkles: FEAT

#386 [Feat/#385] 이미지 원본 보여주기
  src/pages/gig/components/showInfo/ShowInfo.styled.ts
  src/pages/gig/components/showInfo/ShowInfo.tsx
Labels: :sparkles: FEAT

#388 [Refactor/#384] 공연 등록 리팩토링(회차 연장, 노티 삭제, 등록 실패 안내 팝업)
  src/pages/modifyManage/utils/handleEvent.ts
  src/pages/register/Register.tsx
  src/pages/register/RegisterMaker.tsx
  src/pages/register/components/PosterThumbnail.tsx
  src/pages/register/utils/handleEvent.ts
Labels: :recycle: REFACTOR, :sparkles: FEAT
