Repository TEAM-BEAT/BEAT-Client, pull requests merged in 2025-01, with the labels that each got.

#480 [Fix/#468] 2차 스프린트 QA 반영 - 2
  src/assets/lottie/btn_loading.json
  src/components/commons/button/Button.styled.ts
  src/components/commons/button/Button.tsx
  src/components/commons/navigation/Navigation.styled.ts
  src/components/commons/navigation/Navigation.tsx
  src/pages/book/Book.tsx
  src/pages/book/components/complete/Complete.tsx
  src/pages/main/Main.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/myRegisterdShow/MyRegisterdShow.tsx
  src/pages/register/Register.tsx
Labels: :bug: BUG, :sparkles: FEAT

#482 [Feat/#481] useToastHandler 훅 추가, 토스트 전부 상단으로 위치 (+ alert 제거), 핑크색으로 글자 칠해지도록 기능 구현
  src/components/commons/bottomSheet/actionsBottomSheet/phoneNumber/PhoneNumber.tsx
  src/components/commons/mapInput/MapInput.styled.ts
  src/components/commons/mapInput/MapInput.tsx
  src/components/commons/toast/Toast.tsx
  src/hooks/index.ts
  src/hooks/useToastHandler.ts
  src/pages/book/components/paidBook/PaidBook.tsx
  src/pages/cancel/Cancel.tsx
  src/pages/gig/components/performanceIntroduce/Contact.tsx
  src/pages/gig/components/performanceIntroduce/PerformanceIntroduce.tsx
  src/pages/test/TestPage.tsx
  src/pages/test/modalTest/BankAccount.tsx
  src/pages/ticketholderlist/TicketHolderList.tsx
Labels: :sparkles: FEAT

#484 [Refactor/#483] 플로팅 버튼 디자인 수정
  public/svgs/icon_ticket.svg
  src/assets/svgs/IconTicket.tsx
  src/assets/svgs/index.ts
  src/assets/svgs/index.tsx
  src/pages/gig/components/makerIntroduce/MakerIntroduce.tsx
  src/pages/main/components/floating/Floating.styled.ts
  src/pages/main/components/floating/Floating.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#486 [Refactor/#485] 라디오 버튼을 비롯한 디자인 QA 반영
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/refactoring.yml
  src/assets/svgs/IcRadioUnselected.tsx
  src/pages/cancel/components/select/RadioButton.tsx
  src/pages/modifyManage/ModifyManage.tsx
  src/pages/register/Register.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#488 [Fix/#487] 검색 삭제 아이콘 복구, 공연장 주소 복사 토스트 위치 변경
  src/assets/svgs/IconSearch.tsx
  src/components/commons/mapInput/MapInput.styled.ts
  src/components/commons/mapInput/MapInput.tsx
  src/pages/lookup/Lookup.tsx
Labels: :bug: BUG, :sparkles: FEAT
